<div class="content_piece" >
  <div class="title">
    <h2><%= t(@page.name.gsub(/\s*/, "").underscore.to_sym) %></h2>
  </div>

  <%= @page.body %>

  <div class="form">
  <% form_for('contact') do |f| %>
          <div class="left_form">
            <p>
                    <%= f.label :name, "*" + t(:name) %>
                    <%= f.text_field :name, :class => "text" %>
            </p>
            <p>
                    <%= f.label :email, "*" + t(:email) %>
                    <%= f.text_field :email, :class => "text" %>
            </p>
          </div>
          
          <div class="right_form">
            <p>
                    <%= f.label :message, "*" + t(:message) %>
                    <%= f.text_area :message %>
            </p>
          </div>
          
          <% [:error, :notice].each do |message| %>
                  <% content_tag :div, :class => message do %>
                          <%= flash[message] %>
                  <% end if flash[message] %>
          <% end %>

          <div id="submit">
            <%= submit_tag("Submit", :value => t(:send), :class => "submit" ) %>
          </div>
  <% end %>
</div>
</div>
