<h1><%=t :editing %> Blog Post</h1>

<%= error_messages_for :blog_post %>

<% form_for(@object, :url => admin_blog_post_path(@object), :live_validations => true, :html => { :method => :put, :multipart => true }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="submit"><%=submit_tag t(:update)%></p>
<% end %>

<br/>

<%= link_to t(:back), admin_blog_post_path %>
