<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
											"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= metatag_title(@metatag_object, SITE_NAME) %></title>

	<%= metatags(@metatag_object) -%>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="en"/>
	<meta name="author" content="ArtePrograma - Web Sites e Sistemas Web by Marcio Lopes"/>
	<meta name="distribution" content="global"/>
	<meta name="revisit-after" content="5 days"/>
	<meta name="copyright" content="ArtePrograma - Web Sites e Sistemas Web by Marcio Lopes"/>

	<%= stylesheet_link_tag "default", "plugins/slimbox2" %>

	<link href="/favicon.ico" type="image/x-icon" rel="icon"/>
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

        <% javascript_tag do %>
          var slimbox_counter_text = "<%= I18n.t(:slimbox_counter_text) %>";
        <% end -%>
	<%= javascript_include_tag :defaults, "plugins/crossbrowser", "http://www.google-analytics.com/ga", "default", "jquery.kwicks-1.5.1", "plugins/validate", validate_i18n, "plugins/slimbox2", "plugins/tools.tooltip-1.0.2.min", "plugins/jquery.easing.1.3"  %>
	<%= yield :head %>
</head>
<body>
  <div id="background_layer">
    <div id="wrapper" >
      <div id="menu" >
        <ul>
          <li id="first"><%= link_to t(:who_i_am), page_path('quem-sou') %></li>
          <li id="second"><%= link_to t(:portfolio), portfolio_images_path %></li>
          <li id="third"><%= link_to t(:services), page_path('servicos') %></li>
          <li id="fourth"><%= link_to t(:contact), page_path('contact') %></li>
          <li id="fifth"><%= link_to "RSS", blog_posts_path(:format => :atom) %></li>
        </ul>
        <div id="search" >
          <!--<% form_tag search_blog_posts_path do %>
          <% end -%>-->
            <%= text_field_tag :search, params[:search], :class => "search-text" %>
            <%= submit_tag t(:search), :class => "search-submit" %>
        </div><!-- search -->
      </div><!-- menu -->
      <% link_to root_path do %>
        <div id="title" >
          <h1>Arte Programa</h1>
        </div>
      <% end -%>
      <div id="main" >
        <div id="rigth-column">
          <div id="content">
            <%= yield  %>
          </div><!-- content -->
        </div><!-- rigth-column -->
        <div id="left-column" >
          <div id="left-content">
            <div class="left-box working-with-rails">
              <a href="http://workingwithrails.com/recommendation/new/person/17487-marcio-lopes-de-faria"><img alt="Recommend Me" src="http://workingwithrails.com/images/tools/compact-med.jpg" /></a>
            </div>
            <%= yield :tag_cloud %>
            <%= @side_bar.body %>
          </div><!-- left-content -->
        </div><!-- left-column -->
      </div><!-- main -->
    </div><!-- wrapper -->
    <div class="transparent_bg" id="above_footer"></div>
    <div id="footer">
      <p>
        Design by <cite>Marcio Lopes de Faria</cite>
      </p>
    </div><!-- footer -->
  </div><!-- background-layer -->
  </body>
</html>
